.question .content_search{height:84px;width:100%;padding-top:23px;background:#3a5fd2}
.question .content_search .content_search_inp{height:45px;margin-left:12px;margin-right:12px;border-radius:5px;background:#fff;padding-right:10px}
.question .content_search .content_search_inp input{font-size:18px;margin-top:10px;width:100%;border:0;outline:0;padding-left:10px}
.question .content_list{width:100%}
.question .content_list ul{font-size:0}
.question .content_list ul li{height:87px;width:33%;font-size:15px;display:inline-block;border:1px solid #efefef;box-sizing:border-box}
.question .content_list ul li p{text-align:center}